.banner {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  opacity: 0.8;
  outline: rgba(255, 255, 255, 0.2) solid 2px;
}
.banner a {
  font-size: 2rem;
  color: white;
  opacity: 0.5;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 0 1rem;
  letter-spacing: 6px;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-decoration: none;
}

.banner a:hover {
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .banner a {
    font-size: 4.5rem;
    width: 70%;
  }
}
